.blue{
  color:blue;
}

.blue:hover{
  color:white;
}

.footer .social-link{
  margin-right:12px;
}

.footer a{
  color:blue;
  text-decoration: none !important;
}

.footer a:hover{
  color:white;
  text-decoration: none !important;
}

.footer a [class^="icon-"], 
.footer a [class*=" icon-"]{
  margin-right:3px;
}


/* Jumbotron */
.jumbotron{
  text-align: center;
  margin:250px 0 500px;
}

h1{
  font-size:40px;
  line-height: 1em;
  font-family: "Apercu Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom:20px;
}

h2{
  font-size:40px;
  line-height: 1em;
  font-family: "Apercu Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom:20px;
}

h3{
  font-size:18px;
  line-height: 23px;
  margin-bottom:20px;
  text-align: center;
}

h3.section-heading{
  border:2px solid white;
  text-align: center;
  line-height:33px;
  margin-bottom:40px;
}

h3.project-title{
  margin-top:30px;
  line-height: 37px
}

.contact-profile h3{
  text-align: left;
}

.contact-profile .contact-profile-header{
  margin-bottom:20px;
  float:left;
}

.contact-profile .contact-profile-image{
  width:35%;
  margin-right:5%;
  float:left;
}

.contact-profile .contact-profile-caption{
  width:60%;
  float:left;
}

.contact-profile .contact-profile-caption a{
  line-height:23px;
}

.contact-profile .contact-profile-bio{
  clear:both;
}

.projects-project{
  overflow: hidden;
}

.projects-project .project-summary{
  height:100px;
}

.projects-project a:hover{
  text-decoration: none !important;
}

.projects-project .project-mono-image{
  max-height: 
}


.wrapper,
#fixed-footer{
  width:960px;
  margin:0 auto;
}

h3.section-heading{
  width:956px;
}

.navbar{
  position: relative;
  z-index: 10;
  margin-top:40px;
}

.navbar .nav-button{
  height:35px;
  width:130px;
  display: block;
  background-color:#00007d;
  color:blue;
  line-height: 35px;
}

.nav-button-group{
  width:315px;
}

#fixed-header-left .nav-button{
  margin-left:54px;
  float:left
}

.fix-right{
  position: absolute;
  right:0;
}

#fixed-header-right .nav-button{
  margin-right:54px;
  float:right;
}

.navbar .nav-button:hover{
  background-color:white;
  text-decoration: none !important;
}


.underlay{
  position:relative;
  z-index: 1;
}

.section{
  position: relative;
  background-color: blue;
  margin-top:160px;
}

#fixed-footer{
  bottom:15px;
  z-index:10;
}

#header-nav,
#fixed-footer .container{
  width:100%;
}

.footer{
  height:35px;
  color:blue;
  background-color: #00007d;
  line-height:35px;
}

#fixed-logo-wrapper{
  margin-top:35px;
  height:50px;
  text-align: center;
}
#fixed-logo-container
{
  margin:0 auto;
}

.buffer{
  width:100%;
  height:100%;
  text-align: center;
}

/* PROJECT PAGE */
.project-page{
  margin-top:60px;
  background-color:blue;
  position: relative;
  margin-bottom:150px;
}

.project-page h2{
  text-align:center;
}

.project-page h3{
  text-align: left;
}

.project-page .project-header{
  margin-bottom:50px;
}

.project-page .project-links{
  text-align: center;
  margin-bottom:17px;
}

.project-page .gallery-image{
  margin-bottom:20px;
}


.contact{
  margin-bottom:150px;
}

.profile-content{
  margin-bottom:30px;
}

.contact-content{
  text-align: center;
  margin-bottom:30px;
}

.project-page a{
  border-bottom:1px solid !important;
}

.project-page a:hover{
  border:none !important;
  text-decoration: none !important;
}

@media (max-width: 767px) {
  .wrapper{
    width:90%;
  }
  #fixed-footer{
    width:100%;
  }
  .footer{
    height:auto;
    padding:20px 30px;
  }
  h3.section-heading{
    width:100%;
    margin-left:-2px;
  }
  .section{
    margin-top:100px;
  }
  .navbar{
    display:none !important;
  }
  .jumbotron{
    margin-bottom:0;
    margin-top:50px;
  }
  .standard a{
    border-bottom:1px solid !important;
  }
  .standard a:hover{
    border:none !important;
    text-decoration: none !important;
  }
  .contact .contact-profile:first-child{
    margin-bottom:60px;
  }
  .project-page, .clients{
    margin-bottom:50px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .wrapper,
  #fixed-footer{
    width:740px;
  }
  h3.section-heading{
    width:736px;
  }
  .navbar .nav-button{
    width:115px;
  }
  #fixed-header-left .nav-button{
    margin-left:20px;
  }
  #fixed-header-right .nav-button{
    margin-right:20px;
  }
  .nav-button-group{
    width:250px;
  }
  #logo img{
    width:170px;
    height:auto;
    margin-top:7px;
  }
}

/*
@media (min-width: 1200px) {
  .wrapper,
  #fixed-footer{
    width:1139px;
  }
  h3.section-heading{
    width:1135px;
  }
  #logo{
    margin-left:23px;
  }
}
*/


#fixed-header-left .nav-button:first-child{
  margin-left:0 !important;
}

#fixed-header-right .nav-button:first-child{
  margin-right:0 !important;
}

.projects-project{
  margin-top:50px;
}

.projects-project.odd{
  margin-left: 0 !important;
}

.clients .client-logo{
  text-align: center;
  height:85px;
  margin-bottom:40px;
}


