<div class="fragment-quote-container <%= data.category %>">
	<% if(typeof data.type != "undefined"){ %><i class="fragment-delete icon-remove"></i><% }else{ %><i class="icon-idea-alt insight-menu-icon"></i><% } %>
	<div class="fragment-quote-text"><%= data.quote %></div>
	<div class="fragment-url"><a href="<%= data.post_url %>" target="_blank">Original post →</a></div>
	<div class="fragment-quote-tags">
		<% for(var t = 0; t < data.tags.length; t++){ %>
			<% if(t < data.tags.length-1){ %>
				<span class="<%= data.tags[t] %>"><%= data.tags[t] %>, </span>
			<% }else{ %>
				<span class="<%= data.tags[t] %>"><%= data.tags[t] %></span>
			<% } %>
		<% } %>
	</div>
</div>