<div<% if(typeof data._id != 'undefined'){ %> id="insight-<%= data._id %>"<% } %> class="insight-container">
	<div class="controls row-fluid">
		<div class="bttn edit span2 offset7">Edit</div>
		<div class="bttn delete span1 pull-left">Delete</div>
	</div>
	<div class="content row-fluid">
		<div class="title span6 offset5 editable" contenteditable="false">
			<h2><%= data.title %></h2>
		</div>
	</div>
	<div class="content row-fluid">
		<div class="categories span6 offset5 editable" contenteditable="false">
			<% if(typeof data.categories != 'undefined'){ %>
				<% for(var i = 0; i < data.categories.length; i++){ %>
					<span class="category <%= data.categories[i] %>"><%= data.categories[i] %><% if(i < data.categories.length-1){ %>, <% } %></span>
				<% } %>
			<% } %>
		</div>
	</div>
	<div class="content row-fluid">
		<div class="description span6 offset5 editable" contenteditable="false">
			<%= data.description %>
		</div>
	</div>
	<ul class="featured sortable">
	</ul><!-- /.featured -->

	<div class="row-fluid">
		<div class="span16">
			<h4>Additional Evidence</h4>
		</div>
	</div>
	<div class="fragments-el"></div>

</div>