<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

	<!-- styles -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="/stylesheets/bootstrap.css" />
	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css" />
	<link rel="stylesheet" href="/stylesheets/select2.css" />
	<link rel="stylesheet" href="/stylesheets/alchemy.css" />

		
	
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if lte IE 7]><script src="assets/elusive-font/lte-ie7.js"></script><![endif]-->

    <!-- Apercu font served by fontdeck.com -->
    <script type="text/javascript">
		WebFontConfig = { fontdeck: { id: '26531' } };

		(function() {
		  var wf = document.createElement('script');
		  wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
		  '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
		  wf.type = 'text/javascript';
		  wf.async = 'true';
		  var s = document.getElementsByTagName('script')[0];
		  s.parentNode.insertBefore(wf, s);
		})();
	</script>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">

	<div class="wrapper">
		<header id="header">
			<h6>Alchemy 0.1</h6>
		</header>	
		<div id="reset"><a href="/fetch/tumblrposts">Reset!</a></div>	
		
		
		<div id="nav" class="row-fluid bold">
			<ul id="categories-nav" class="menu span3 offset4">
				<li class="menu-header">Categories</li>
				<li class="menu-option" value="categories-io"><a href="/alchemy/tumblrposts/categories/io">I / O</a></li>
				<li class="menu-option" value="categories-posts"><a href="/alchemy/tumblrposts/categories/posts">Posts</a></li>
			</ul>

			<ul id="categories-nav" class="menu span3 offset2">
				<li class="menu-header">Glossary</li>
				<li class="menu-option" value="glossary-definitions">
					<a href="/alchemy/tumblrposts/glossary/definitions">Definitions</a>
				</li>
				<li class="menu-option" value="glossary-headlines">
					<a href="/alchemy/tumblrposts/glossary/headlines">Headlines</a>
				</li>
				<li class="menu-option" value="glossary-quotes">
					<a href="/alchemy/tumblrposts/glossary/quotes">Quotes</a>
				</li>
				<li class="menu-option" value="glossary-collages">
					<a href="/alchemy/tumblrposts/glossary/collages">Collages</a>
				</li>
			</ul>
		</div><!-- /#nav -->

		

		<div id="main" class="row-fluid">
			<div class="span12 offset2">
				<h1 class="bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Alchemy is an experimental web app developed by Therrien–Barley for transforming base data into noble insights. It vacuums the information stored in tumblr, flickr, twitter and elsewhere into a persistent database to be sorted, filtered, analyzed, re-presented and re-mixed.</h1>
			</div>
		</div><!-- /#main -->

		<footer id="footer" class="row-fluid">
			<div class="span6">
				© 2013 Therrien-Barley, all rights reserved<br>
				<a href="mailto:info@th-ey.co">info@th-ey.co</a>
			</div>
		</footer>

		
	</div><!-- /#wrapper -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/elusive-webfont.css">
	<script src="/javascripts/select2.min.js"></script>
	<script src="/javascripts/alchemy.js"></script>

	
	<!-- Google Analytics -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29830549-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </body>
</html>


















