<% layout('layoutalchemy') -%>

<% script('http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js') -%>
<% script('/javascripts/bootstrap.min.js') -%>
<% script('/javascripts/select2.min.js') -%>
<% script('/javascripts/alchemy.js') -%>

<% stylesheet('/stylesheets/bootstrap-responsive.min.css') -%>
<% stylesheet('/stylesheets/bootstrap.css') -%>
<% stylesheet('/stylesheets/font-awesome.min.css') -%>
<% stylesheet('/stylesheets/select2.css') -%>
<% stylesheet('/stylesheets/alchemy.css') -%>
<% stylesheet('/packages/google-code-prettify/prettify.css') -%>




<% if(architecture != undefined){ %>
	<h1>Architecture</h1>
	<%= architecture %>
<% } %>

<% if(fashion != undefined){ %>
	<h1>Fashion</h1>
	<%= fashion %>
<% } %>

<% if(tech != undefined){ %>
	<h1>Tech</h1>
	<%= tech %>
<% } %>





