<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <title>New Habitat</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">

		<!-- styles -->
		<link rel="stylesheet" href="/stylesheets/habitat-bootstrap.min.css" />
		<link rel="stylesheet" href="/stylesheets/elusive-webfont.css" />
		<link rel="stylesheet" href="/stylesheets/habitat.css" />

			
		
	    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	    <!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->

	    <!--[if lte IE 7]><script src="assets/elusive-font/lte-ie7.js"></script><![endif]-->

	    <!-- Le fav and touch icons -->
	    <link rel="shortcut icon" href="/favicon.ico">
	</head>
	<body>

		<div id="wrapper">

			<header id="header">
				<div class="row-fluid">
					<div class="span6 offset5">
						<h2>New Habitat</h2>
					</div>
				</div>
			</header><!--/#header-->

			<div id="hackcity">
				<a href="https://twitter.com/new_habitat" target="_blank">@new_habitat</a>&nbsp;&nbsp;#hackcity
			</div>

			<div id="main">
				<div id="homeapi" class="row-fluid">
					<div class="span3 offset2">
						<i id="homeicon" class="icon-home"></i>
					</div>
					<div id="equals" class="span2">
						=
					</div>
					<div id="api" class="span3">
						API
					</div>
				</div>

				<div id="info" class="row-fluid">
					<div class="span3 offset5 info-block">
						<div>Hackathon</div>
						<div>April 27–28</div>
						<div><a href="http://new-habit.at/assets/NewHabitatMap.pdf" target="_blank">NewLab, Navy Yards</a></div>
						<div>Brooklyn, NY</div>
						<br>
						<a href="http://new-habitat.eventbrite.com/" target="_blank">sign up</a><br><br>
						<a href="https://docs.google.com/document/d/1qqC8E-qFDlyhf1wG9d55el5Ub7YbENi9AlFHUSkNdw0/edit?usp=sharing" target="_blank">press release</a>
					</div>
					<div class="span3 info-block">
						<div>Presentation</div>
						<div>May 3</div>
						<div class=""><a href="http://www.ideas-city.org/view/hack-city" target="_blank">Ideas City Festival</a>*</div>
						<div>The Old School in Nolita</div>
						<br>
						<div>*Hosted by the New Museum, The Architectural League of New York, Bowery Poetry Club, Cooper Union, The Drawing Center, NYU Wagner &amp; Storefront for Art and Architecture</div>
					</div>
				</div><!--/#info-->

				<footer id="footer" class="row-fluid">
					<div class="span5 offset7">
						
					</div>
				</footer><!--/#footer-->
			</div><!--/#main-->

		</div>



	    <!-- Le javascript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>

		<script>
			$(document).ready(function() {
				if( Math.random() > 0.5 ){
					$('body, a, a:visited').css('color', 'white').css('backgroundColor', 'black');
				}
			});
		</script>

		
		<!-- Google Analytics -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-40371597-1', 'new-habit.at');
		  ga('send', 'pageview');

		</script>
	
	</body>
</html>


















