
<div id="header-nav" class="container">
	<div class="row-fluid">
		<div class="span6 navbar">
			<div id="fixed-header-left" class="nav-button-group" data-spy="affix" data-offset-top="0">
				<div class="pull-left">
					<a class="nav-button pull-left" href="/#projects"><h3>Projects</h3></a>
					<a class="nav-button pull-right" href="/#people"><h3>People</h3></a>
				</div>
			</div>
		</div>

		<div id="fixed-logo-wrapper" class="span4">
			<div id="fixed-logo-container" data-spy="affix" data-offset-top="0">
				<div class="buffer">
					<a id="logo" class="underlay" href="/"><img src="/images/th-ey_logo_smfill_blue.png" alt="Th-ey home"></a>
				</div>
			</div>
		</div>

		<div class="span6 navbar">
			<div class="nav-button-group fix-right">
				<div id="fixed-header-right" data-spy="affix" data-offset-top="0">
					<a class="nav-button" href="/#contact"><h3>Contact</h3></a>
					<a class="nav-button" href="/#clients"><h3>Clients</h3></a>
				</div>
			</div>
		</div>

	</div>
</div>
