<% layout('layoutproject') -%>

<% script('http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js') -%>
<% script('javascripts/bootstrap.min.js') -%>
<% script('javascripts/custom.js') -%>

<% stylesheet('/stylesheets/bootstrap-responsive.min.css') -%>
<% stylesheet('/stylesheets/bootstrap.css') -%>
<% stylesheet('/packages/elusive-iconfont/css/elusive-webfont.css') -%>
<% stylesheet('/stylesheets/style.css') -%>
<% stylesheet('/packages/google-code-prettify/prettify.css') -%>



<div class="container project-page">
	<div class="row-fluid project-header">	
		<div class="span8 offset4">
		  <h2><%= title %></h2>
		  <div class="project-links standard">
		  	<a href="http://www.moma.org/interactives/exhibitions/yap/" target="_blank">Interview Archive</a>
		  </div><!-- /.project-links -->
		  <div class="project-description">
		  	<p>The exhibition celebrated the legacy of architectural invention fueled by the exuberance of generations of young architects who took part in P.S.1  Contemporary Art Center and The Museum of Modern Art’s Young Architects Program, one of the most acclaimed architectural arenas for emerging talent of the last decade. </p>
		  	<p>Since its inception, YAP has always been linked with P.S.1’s live music and DJ series Warm Up. Both programs have grown into much-anticipated summer events merging together to offer a simultaneous experimental experience. This anniversary exhibition is arranged as a timeline, beginning with Gelitin’s party, moving through the two years of pre-YAP Warm Up parties and the ten years of YAP to date, including all of the winning projects, as well as proposals from 38 finalists. It is a snapshot of more than a decade of architectural experimentation.</p>
		  </div><!-- /.project-description -->
		  <div class="project-addendum">
		  	<p>Curatorial advice from Klaus Biesenbach, Chief Curator, Department of Media and Performance Art, The Museum of Modern Art and Chief Curatorial Advisor, P.S.1 Contemporary Art Center and Barry Bergdoll, The Philip Johnson Chief Curator of Architecture and Design, The Museum of Modern Art.</p>
		  	<p>Special thanks to <a href="http://www.sohorepro.com/" target="_blank">SOHO Reprographics</a>, Daniel Payne, and Luke Barley.</p>
		  	<p>Supported by the <a href="http://www.cuarts.com/" target="_blank">Arts Initiative</a> at Columbia University and Apple Computer.</p>
		  </div><!-- /.project-addendum -->
		</div><!-- /.span8 -->
	</div><!-- /.project-header -->
	<div class="container project-gallery">
		<div class="row-fluid">
			<div class="span16 gallery-image">
				<img src="/images/projects/yap/yap01.png">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span16 gallery-image">
				<img src="/images/projects/yap/yap02.png">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span16 gallery-image">
				<img src="/images/projects/yap/yap03.png">
			</div>
		</div>
	</div><!-- /.project-gallery -->
	<div class="container project-press standard">
		<div class="row-fluid">
			<div class="span8">
				<h3>Press</h3>
				<p>
					<a target="_blank" href="http://artforum.com/diary/id=23198">Ferry Tail</a><br>
					Art Forum
				</p>
				<p>
					<a target="_blank" href="http://www.thirteen.org/sundayarts/video/ps1s-young-architects-program/340/#.UO3X9onjlfQ">P.S.1 Young Architects</a><br>
					Channel Thirteen
				</p>
			</div>
		</div>
	</div>
</div><!-- /.container .project-page -->

