<div id="nav" class="row-fluid bold">
	<ul id="sources-nav" class="menu span2 offset4">
		<li class="menu-header">Sources</li>
		<li class="menu-option sources-blogs" value="sources-blogs"><a href="/insights/air/sources/blogs">Blogs</a></li>
		<li class="menu-option sources-magazines" value="sources-magazines"><a href="/insights/air/sources/magazines">Magazines</a></li>
	</ul>

	<ul id="categories-nav" class="menu span2">
		<li class="menu-header">Categories</li>
		<li class="menu-option categories-distribution" value="categories-distribution"><a href="/insights/air/categories/distribution">Distribution</a></li>
		<li class="menu-option categories-elements" value="categories-elements"><a href="/insights/air/categories/elements">Elements</a></li>
		<li class="menu-option categories-fragments" value="categories-fragments"><a href="/insights/air/categories/fragments/quotes/material">Fragments</a></li>
	</ul>

	<ul id="terms-nav" class="menu span2">
		<li class="menu-header">Terms</li>
		<li class="menu-option terms-distribution" value="terms-distribution">
			<a href="/insights/air/terms/distribution">Distribution</a>
		</li>
		<!--<li class="menu-option terms-distribution" value="terms-distribution">
			<a href="/alchemy/tumblrposts/terms/distribution">Watch Terms</a>
		</li>-->
		<li class="menu-option terms-elements" value="terms-elements">
			<a href="/insights/air/terms/elements">Elements</a>
		</li>
		<li class="menu-option terms-fragments" value="terms-fragments">
			<a href="/insights/air/terms/fragments/quotes/art">Fragments</a>
		</li>
		<li class="menu-option terms-glossary" value="terms-glossary">
			<a href="/insights/air/terms/glossary">Glossary</a>
		</li>
	</ul>

	<ul id="insights-nav" class="menu span2">
		<li class="menu-header">Insights</li>
		<li class="menu-option insights-examples" value="insights-examples"><a href="/insights/air/insights/examples">Examples</a></li>
		<li class="menu-option insights-research" value="insights-research"><a href="/insights/air/insights/research">Research</a></li>
		<li class="menu-option insights-trends" value="insights-trends"><a href="/insights/air/insights/trends">Trends</a></li>
	</ul>
</div><!-- /#nav -->