<footer id="fixed-footer" data-spy="affix" data-offset-top="0">
  <div class="container">
  	<div class="row-fluid">
  		<div class="span16 footer">
  			<div class="span3 offset4">
  				©  2013 Therrien–Barley
  			</div>
  			<div class="span6">
  				<span class="social-link"><a href="https://www.facebook.com/TherrienBarley" target="_blank"><i class="icon-facebook"></i>&nbsp;Facebook</a></span>
  				<span class="social-link"><a href="https://vimeo.com/therrienbarley" target="_blank"><i class="icon-vimeo"></i>&nbsp;Vimeo</a></span>
  				<span class="social-link"><a href="http://www.flickr.com/photos/th-ey/" target="_blank"><i class="icon-flickr"></i>&nbsp;Flickr</a></span>
  			</div>
  		</div>	
  	</div>
  	
  </div>	
</footer>