<% layout('layouthome') -%>

<% script('http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js') -%>
<% script('javascripts/bootstrap.min.js') -%>
<% script('javascripts/custom.js') -%>

<% stylesheet('stylesheets/bootstrap-responsive.min.css') -%>
<% stylesheet('stylesheets/bootstrap.css') -%>
<% stylesheet('packages/elusive-iconfont/css/elusive-webfont.css') -%>
<% stylesheet('stylesheets/style.css') -%>
<% stylesheet('packages/google-code-prettify/prettify.css') -%>
<h1>I am the <%=title%> Alchemy</h1>
<% block('header', "<p>I'm in the header.</p>") -%>
<% block('footer', "<p>I'm in the footer.</p>") -%>
