<div id="nav" class="row-fluid bold">
	<ul id="categories-nav" class="menu span3 offset4">
		<li class="menu-header">Categories</li>
		<li class="menu-option categories-distribution" value="categories-distribution"><a href="/alchemy/tumblrposts/categories/distribution">Distribution</a></li>
		<li class="menu-option categories-elements" value="categories-elements"><a href="/alchemy/tumblrposts/categories/elements">Elements</a></li>
		<li class="menu-option categories-fragments" value="categories-fragments"><a href="/alchemy/tumblrposts/categories/fragments/quotes/material">Fragments</a></li>
	</ul>

	<ul id="terms-nav" class="menu span3 offset2">
		<li class="menu-header">Terms</li>
		<li class="menu-option terms-all" value="terms-all">
			<a href="/alchemy/tumblrposts/terms/all">Distribution</a>
		</li>
		<!--<li class="menu-option terms-distribution" value="terms-distribution">
			<a href="/alchemy/tumblrposts/terms/distribution">Watch Terms</a>
		</li>-->
		<li class="menu-option terms-elements" value="terms-elements">
			<a href="/alchemy/tumblrposts/terms/elements">Elements</a>
		</li>
		<li class="menu-option terms-fragments" value="terms-fragments">
			<a href="/alchemy/tumblrposts/terms/fragments/quotes/art">Fragments</a>
		</li>
		<li class="menu-option terms-glossary" value="terms-glossary">
			<a href="/alchemy/tumblrposts/terms/glossary">Glossary</a>
		</li>
	</ul>
</div><!-- /#nav -->