body{
	color:white;
	background-color: black;
}
a, a:visited{
	color:white;
	font:bold 24px/26px "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-bottom:2px dotted;
	text-decoration: none !important;
}

a:hover{
	border:none;
	text-decoration: none !important;
	color:white;
	cursor:pointer;
}

#wrapper{
	padding:0 5%;
	margin:0;
}

h2{
	font-size:36px;
	font-weight: bold;
	padding:0;
	margin:0;
}


.anchor-wrapper{
	margin-bottom:7px;
}


#header{
	text-align:center;
	padding:40px 0;
}

#nav{
	padding:20px 0;
	text-align: center;
}

.menu{
	margin:0 auto;
	list-style: none;
}

.menu li{
	display: inline;
	padding:0 20px;
}

#main{
	margin-bottom:20px;
}


#footer{
	position:fixed;
	bottom: 340px;
	left: -270px;
	color:#9999ff;
}

#footer a{
	color:#9999ff;
}

#footer div{
	font-family: Monaco, monospace;
	font-size:11px;
	margin:0;
	padding:0;
	text-align: left;
	width:320px;
	height:40px;
	
	transform-origin:100% 100%;
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin:100% 100%; /* IE 9 */
	-moz-transform-origin:100% 100%; /* Firefox */
	-o-transform-origin:100% 100%; /* Opera */

	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); /* IE 9 */
	-moz-transform:rotate(-90deg); /* Firefox */
	-webkit-transform:rotate(-90deg); /* Safari and Chrome */
	-o-transform:rotate(-90deg); /* Opera */
}

#hackcity{
	position:fixed;
	top: 170px;
	left: -27px;
	height: 72px;
	width: 110px;
	transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}

#homeapi{
	vertical-align: middle;
	text-align: center;
	margin:120px auto;
}

#homeicon{
	font-size:200px;
	margin:0 auto;
}

#equals,
#api{
	font-size:120px;
}

#equals{
	margin:80px auto 0;
}

#api{
	margin:90px auto 0;
}

@media (min-width: 768px) and (max-width: 979px) {
	#homeicon{
		font-size:170px;
		margin:0 auto;
	}

	#equals,
	#api{
		font-size:100px;
	}

	#equals{
		margin:70px auto 0;
	}

	#api{
		margin:80px auto 0;
	}
}

.info-block{
	margin-bottom:50px;
}

@media (max-width: 480px){
	#header{
		text-align:center;
	}
}

#create{
	text-align: center;
	margin-top:30px;
	margin-bottom:30px;
}

#create a:hover{
	border:none;
	cursor:pointer;
}

#create-form{
	position:fixed;
	width:400px;
	margin-left:-200px;
	left:50%;
	height:80%;
	top:20%;
	background-color:black;
	z-index:10;
	color: white;
}


/* HOME */
#home-el .project{
	overflow: hidden;
	background-color: red;
	padding:5%;
	background-size: cover;
}

/* INPUT FORM */
#close{
	position:absolute;
	top:3%;
	right:3%;
	padding:1% 2%;
	border:1px solid;
}

#close:hover{
	cursor: pointer;
	background-color:white;
	color:DarkSalmon;
}

#input-form{
	position:fixed;
	width:30%;
	height:60%;
	top:10%;
	left:30%;
	padding:5%;
	background-color:DarkSalmon;
	z-index:10;
}

#input-form h2{
	margin-bottom:20px;
}

#input-form .button{
	padding:3px;
	text-transform: uppercase;
	border:1px solid;
	text-align: center;
	margin:0 auto;
}

#input-form .button:hover{
	background-color:white;
	color:DarkSalmon;
	cursor: pointer;
}

#input-form .line{
	height:40px;
	width:100%;
	margin:10px 0 0;
	clear:both;
}

#input-form #new-work-id{
	width:90%;
	color:DarkSalmon;
	padding:3px;
	background-color: white;
}

#input-form .line .label{
	float:left;
}
#input-form .button{
	float:right;
}


#input-form .save{
	position: absolute;
	top:3%;
	left:3%;
}











