<div id="nav" class="row-fluid bold">
		<ul class="menu span16">
			<li class="menu-option"><a href="/">Home</a></li>
			<li class="menu-option"><a href="/projects">Projects</a></li>
			<li class="menu-option"><a href="/about">About</a></li>
		</ul><!-- /#menu -->
</div><!-- /#nav-wrapper -->