<div id="nav-wrapper" class="row-fluid bold">
	<ul id="nav" class="menu span2 offset4">
		<li class="menu-option"><a href="/">Home</a></li>
		<li class="menu-option"><a href="/projects">Projects</a></li>
		<li class="menu-option"><a href="/blog">Blog</a></li>
		<li class="menu-option"><a href="/about">About</a></li>
		<li class="menu-option"><a href="/press">Press</a></li>
		<li class="menu-option"><a href="/contact">Contact</a></li>
	</ul><!-- /#nav -->
</div><!-- /#nav-wrapper -->