<div id="nav" class="span3 offset12 bold">
	<% if(typeof user !== 'undefined'){ %>
		
		<div id="user-nav" class="menu row-fluid open">
			<ul>
				<li class="menu-header"><%= user.name %></li>
				<li class="menu-option user-collections" value="user-collections"><a href="/insights/collections">Collections</a></li>
				<li class="menu-option user-account" value="user-account"><a href="/insights/user/<%= user.id %>">My Account</a></li>
				<% if(user.role == 'admin'){ %><li class="menu-option user-admin" value="user-admin"><a href="/insights/admin">Admin</a></li><% } %>
				<li class="menu-option user-logout" value="user-logout"><a href="/logout">Logout</a></li>
			</ul>
		</div>
	<% } %>
	<% if(typeof collections !== 'undefined'){ %>

	<% } %>
	
</div><!-- /#nav -->